<!-- views/partials/maintext.ejs -->

<div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">App Owner</h3>
            </div>
            <div class="panel-body">
			<p>SGP Analytics Kft</p>

			<p>2724 Újlengyel, Határ út 12</p>

			<p>Contact email: klara.benda@datad.at</p>

            </div>
          </div>
</div>

<div>
    <h2>Types of Data collected</h2>

    <p>The bot does not collect or store any data from its users. All message data resides with Facebook.</p>


</div>

<div class="one_line_col">

    <h2>System logs and maintenance</h2>
    <p>
        For operation and maintenance purposes, the Application records interaction with this Application (System logs). System logs are deleted regularly.
    </p>

</div>
