<!-- views/partials/maintext.ejs -->

<div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Tulajdonos</h3>
            </div>
            <div class="panel-body">
			<p>SGP Analytics Kft</p>

			<p>2724 Újlengyel, Határ út 12</p>

			<p>Kapcsolat: klara.benda@datad.at</p>

            </div>
          </div>
</div>

<div>

    <h2>A gyűjtött adatok köre</h2>

    <p>A bot nem gyűjt adatot a felhasználóktól. Az üzenetváltásokat a Facebook tárolja.</p>


</div>

<div class="one_line_col">

    <h2>Rendszerlogok és működés</h2>
    <p>
        A működéshez a bot használja az üzenetváltások adatait. Ezeket az adatokat nem mentjük tartósan, csak a működés idejére tároljuk a szerverünkön.
    </p>

</div>
