<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <title>Privacy Policy</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header_hun %>
</header>


<main>
    <% include ../partials/maintext_hun %>
</main>

</body>
</html>